<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="jumbotron jumbotron-fluid">
				<div class="container">
					<h1 class="display-4">Exos 3 - Input & Output Panier de courses Evolved</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-12 align-self-center">
            <div class="card">
                <div class="card-header bg-success text-white">
                    Mon super panier de courses évolué avec Input et Output
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <app-details
                            *ngFor="let product of listProd"
                            [name]="product.name"
                            [price]="product.price"
                            [id]="product.id"
                            (deleteProduct)="deleteProductParent($event)"
                            (updateProduct)="updateProductParent($event)"
                        ></app-details>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>


<button (click)="test()">test</button>

{{listProd | json}}