<!-- Dropdown Structure -->
<ul id="demos" class="dropdown-content">
    <li><a routerLink="bindings1">Demo 1 : Les Bindings</a></li>
    <li><a routerLink="pipes2">Demo 2 : Les Pipes</a></li>
    <li><a routerLink="directives3">Demo 3 : Les Directives</a></li>
    <li><a routerLink="inputoutput4">Demo 4 : Les input output</a></li>
    <li><a routerLink="fourOfour5">Demo 5 : Page 404 (rapide)</a></li>
    <li><a routerLink="dependencyinjection6">Demo 6 : Services Injection (DI)</a></li>
    <li><a routerLink="advanceroutage7">Demo 7 : Le Routage</a></li>
    <li><a routerLink="guards8">Demo 8 : Les Guards (news V16)</a></li>
    <li><a routerLink="refreshpromise9">Demo 9 : Les Promesses (refresh) + async await</a></li>
    <li><a routerLink="reactiveforms10">Demo 10 : Les Reactives Forms + refresh twb forms + Vaildator Custom (news V16)</a></li>
    <li><a routerLink="storages11">Demo 11 : Les storages Front (session et local) (rapide)</a></li>
    
    
    <li class="divider"></li>
    <li><a routerLink="demo/demo18">Demo 18 : Le HttpClient</a></li>
    <li><a routerLink="demo/demo17">Demo 17 : Les Observables</a></li>
    <li><a routerLink="demo/demo19">Demo 19 : Les customs validators Async</a></li>
    <li><a routerLink="demo/demo20">Demo 20 : Les Resolvers</a></li>
    <li><a routerLink="demo/demo20">Demo 20 : Les signaux (news V16)</a></li>
</ul>


<ul id="exos" class="dropdown-content">
    <li><a routerLink="exos/exos1dot1">Exos 1.1 - Custom pipe Celsius - Fahrenheit</a></li>
    <li><a routerLink="exos/exos1dot2">Exos 1.2 - Custom pipe convert secondes</a></li>
    <li><a routerLink="exos/exos2">Exos 2 - Direct. struct. le panier de course</a></li>
    <li><a routerLink="exos/exos3dot1">Exos 3.1 - Input & Output Panier de courses Evolved</a></li>
    <li><a routerLink="exos/exos3dot2">Exos 3.2 - Panier de courses sous DI et Services + #ref</a></li>
</ul>

<nav>
    <div class="nav-wrapper">
        <a href="#!" routerLink="" class="brand-logo">Cours Angular édition 2023 (last updates novembre)</a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a class="dropdown-trigger" data-target="demos">
                    Listes de Demos pour angular V16 - Mise à jour 2023
                    <!-- Rajout de texte useless pour aggrandir le dropdown de materialize...-->
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>
                <a class="dropdown-trigger" data-target="exos">
                    Listes de Exos pour angular
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </ul>
    </div>
</nav>